<%= @snack.name %>
<p>Price: <%= @snack.price %></p>

<p>Locations:</p>
<% @snack.machines.each do |machine| %>
  <section id = "machine-<%= machine.id %>">
    <%= machine.location %>
    <p>Average Price: <%= machine.average_price %></p>
    <p>Count of Snack Types: <%= machine.snacks.length %></p>
  </section>
<% end %>
